/*общие*/
body {
  margin: 0;
  padding: 0;

  font-family: "Comic Sans", "Helvetica", serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
  text-align: justify;
}

a:hover {
  color: #b32424;
}

a:active {
  color: #b1a4a4;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: 900px) {
  .container {
    width: 900px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/*header*/
.header {
  padding: 10px;

  color: #ffffff;

  background-color: #6a7fcc;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
}

.header__lang {
  display: flex;
  justify-content: flex-end;
}

.language__link {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .language__link {
    margin-right: 10px;
  }
}

.lang__active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .header__personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__name {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .header__name {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.name__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #f1cece;
}

.name__text {
  font-size: 24px;
  font-weight: bold;
}

.name__text--en {
  font-size: 23px;
}

@media (min-width: 768px) {
  .name__text {
    max-width: 300px;
    margin-left: 50px;
  }
}

.contacts {
  padding-left: 0;

  list-style-type: none;
}

.location {
  display: flex;
}

.contacts__link--location {
  margin: 0;
  margin-left: 5px;
}

.navigation {
  margin-top: 30px;
}

.menu {
  padding-left: 0;

  list-style-type: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-around;
  }
}

/*footer*/
.footer {
  padding: 10px;
  margin-top: 10px;

  color: #ffffff;

  background-color: #6a7fcc;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
    margin-top: 20px;
  }
}

.footer__text {
  text-align: center;
}