/*общие*/
body {
  margin: 0;
  padding: 0;

  font-family: "Comic Sans", "Helvetica", serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
  text-align: left;
}

@media (min-width: 768px) {
  body {
    text-align: justify;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

h3 {
  font-size: 19px;
}

/*header*/
.header {
  padding: 10px;

  color: #ffffff;

  background-color: #6a7fcc;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
}

.header__lang {
  display: flex;
  justify-content: flex-end;
}

.language__link {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .language__link {
    margin-right: 10px;
  }
}

.lang__active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .header__personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__name {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .header__name {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.name__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #f1cece;
}

.name__text {
  font-size: 24px;
  font-weight: bold;
}

.name__text--en {
  font-size: 23px;
}

@media (min-width: 768px) {
  .name__text {
    max-width: 300px;
    margin-left: 50px;
  }
}

.contacts {
  padding-left: 0;

  list-style-type: none;
}

.contacts__link {
  text-decoration: none;

  color: #ffffff;
}

.contacts__link:hover {
  color: #b32424;
}

.contacts__link:active {
  color: #b1a4a4;
}

.location {
  display: flex;
}

.contacts__link--location {
  margin: 0;
  margin-left: 5px;
}

.navigation {
  display: none;
}

@media (min-width: 768px) {
  .navigation {
    display: block;
    margin-top: 30px;
  }
}

.menu {
  padding-left: 0;

  list-style-type: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-around;
  }
}

.menu__link {
  text-decoration: none;
  
  color: #ffffff;
}

.menu__link:hover {
  color: #b32424;
}

.menu__link:active {
  color: #b1a4a4;
}

/*main*/
.main {
  padding: 16px;

  background-color: #e8e3e3;
}

@media (min-width: 768px) {
  .main {
    padding: 25px;
  }
}

.main__section {
  margin-bottom: 60px;
}

.main__section:last-child {
  margin-bottom: 0;
}

.main__section a {
  color: #0a43af;
}

.main__section a:hover {
  color: #b32424;
}

.main__section a:active {
  color: #b1a4a4;
}

/*технические умения*/
.skills__table {
  min-width: 320px;

  font-size: 18px;
}

@media (min-width: 768px) {
  .skills__table {
    min-width: 500px;

    margin-left: auto;
    margin-right: auto;

    font-size: 21px;
  }
}

.skills__table td {
  padding: 5px;
}

@media (min-width: 768px) {
  .skills__table td {
    padding: 10px;
  }
}

/*.courses__list {
  padding-left: 0;

  list-style-type: none;
}
*/
@media (min-width: 768px) {
  .courses__list {
    padding-left: 20px;

    list-style-type: square;
  }
}

/*footer*/
.footer {
  padding: 10px;

  color: #ffffff;

  background-color: #6a7fcc;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
  }
}

.footer__text {
  text-align: center;
}