/*общие*/
body {
  margin: 0;
  padding: 0;

  font-family: "Comic Sans", "Helvetica", serif;
  font-size: 18px;
  color: #101010;
  letter-spacing: 0;
  text-align: center;
  line-height: 25px;
  text-align: left;
}

@media (min-width: 768px) {
  body {
    text-align: justify;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

h3 {
  font-size: 19px;
}

/*header*/
.header {
  padding: 10px;

  color: #ffffff;

  background-color: #046f8e;
}

/*header языки*/
.header__lang {
  display: flex;
  justify-content: flex-end;
}

.language__link {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .language__link {
    margin-right: 10px;
  }
}

.language__active {
  opacity: 0.5;
}

.navigation {
  display: block;
}

/*header навигация*/
.menu {
  display: none;
  
  padding-left: 0;

  list-style-type: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-around;
  }
}

.menu a {
  text-decoration: none;
  
  color: #ffffff;
}

.menu a:hover {
  color: #b32424;
}

.menu a:active {
  color: #a5a2a2;
}

/*main*/
.main {
  padding: 16px;

  background: linear-gradient(to top right, #f5bfd3, #b0def9);
}

@media (min-width: 768px) {
  .main {
    padding: 25px;
  }
}

/*main заголовок резюме*/
.main h1 {
  font-size: 35px;
  line-height: 30px;
}

/*main все содержание*/
@media (min-width: 1200px) {
  .main__general {
    display: flex;
  }
}

/*main левый столбик*/
@media (min-width: 768px) {
  .name {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .name {
    display: block;

    max-width: 300px;
  }
}

.name__photo {
  display: block;

  margin: 25px auto;

  background-color: transparent;
  border-radius: 25%;
}

.contacts {
  padding-left: 0;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;


  list-style-type: none;
}

.contacts a {
  margin-left: 5px;
  
  line-height: 28px;
  color: #101010;

  text-decoration: none;
}

.contacts a:hover {
  color: #b32424;
}

.contacts a:active {
  color: #a5a2a2;
}

.contacts li {
  display: flex;
}

.contacts p {
  margin: 0;
  margin-left: 5px;

  line-height: 28px;
  color: #101010;

  text-decoration: none;
}

.contacts p:hover {
  color: #101010;
}

.contacts p:active {
  color: #101010;
}

/*main правый столбик*/
.info {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.info__section {
  margin-bottom: 60px;
}

.info__section:last-child {
  margin-bottom: 0;
}

.info__section a {
  color: #4b8e50;
}

.info__section a:hover {
  color: #b32424;
}

.info__section a:active {
  color: #a5a2a2;
}

/*Портфолио*/
.portfolio-list {
  padding: 0;

  list-style-type: none;
}

@media (min-width: 768px) {
  .portfolio-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}

.portfolio-list li {
  margin: 20px auto;

  opacity: 0.6;
}

.portfolio-list li:hover {
  opacity: 1;
}

.portfolio-list li:active {
  opacity: 0.3;
}

.portfolio-list img {
  display: block;
  margin: 15px auto;
}

/*технические умения*/
.skills__table {
  min-width: 300px;

  margin-left: auto;
  margin-right: auto;

  font-size: 18px;
}

@media (min-width: 768px) {
  .skills__table {
    min-width: 500px;

    font-size: 21px;
  }
}

.skills__table td {
  padding: 5px;

  text-align: center;
}

@media (min-width: 768px) {
  .skills__table td {
    padding: 10px;
  }
}

/*main курсы*/
@media (min-width: 768px) {
  .courses__list {
    padding-left: 20px;

    list-style-type: square;
  }
}

/*опыт работы*/
.work {
  padding-left: 0;

  list-style-type: none;  
}

.work li {
  margin-bottom: 35px;
}

/*footer*/
.footer {
  padding: 10px;

  color: #ffffff;

  background-color: #da8ba8;
}

.footer p {
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  text-align: center;

  list-style-type: none;
}

.footer-list li {
  padding: 5px;
}

.footer-list img {
  filter: invert(1);
}

.footer-list img:hover {
  opacity: 0.6;
}

.footer-list img:active {
  opacity: 0.2;
}